---
layout: compress
---

<!doctype html>

{% include origin-type.html %}
{% include lang.html %}

{% if site.theme_mode == 'light' or site.theme_mode == 'dark' %}
  {% capture prefer_mode %}data-bs-theme="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<html lang="{{ page.lang | default: site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body class="layout-{{ page.layout | default: layout.layout }}">
    {% include site-header.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column">
        <div class="row flex-grow-1">
          <main aria-label="主要内容" class="col-12 col-xl-9">
            {% if layout.refactor or layout.layout == 'default' %}
              {% include refactor-content.html content=content lang=lang %}
            {% else %}
              {{ content }}
            {% endif %}
          </main>

          <aside aria-label="文章导航" id="panel-wrapper" class="col-xl-3 text-muted">
            {% for _include in layout.panel_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}
          </aside>
        </div>

        <div class="row">
          <div id="tail-wrapper" class="col-12 col-xl-9">
            {% for _include in layout.tail_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}

            {% include footer.html lang=lang %}
          </div>
        </div>

        {% include_cached search-results.html lang=lang %}
      </div>

      <aside aria-label="返回顶部">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow" aria-label="返回顶部">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask" class="d-none position-fixed w-100 h-100 z-1"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    {% for _include in layout.script_includes %}
      {% assign _include_path = _include | append: '.html' %}
      {% include {{ _include_path }} %}
    {% endfor %}

    {% include_cached search-loader.html lang=lang %}
  </body>
</html>
